.SearchContainer {
  height: 80px;
  width: 500px;
  border-radius: 10px;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  align-items: flex-start;
  form {
    flex: 1;
    height: 100%;
    width: 100%;
  }
  input {
    // flex: 1;
    height: 100%;
    width: 100%;
    padding: 5px;
    outline: none !important;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: transparent;
  }
  .navLinks {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      font-weight: 600;
      font-style: italic;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5px;
      color: whitesmoke;
      font-size: 14px;
      svg {
        fill: white !important;
      }
      &:hover {
        text-decoration: underline;
      }
      &:active {
        opacity: 0;
      }
    }
  }
}

@import "../utils/mobileViews/Search.module.scss";
